@keyframes grow-animation {
  0% {
    font-size: 12px;
    color: #212529;
  }
  50% {
    font-size: 16px;
    color: blue;
  }
  100% {
    font-size: 14px;
    color: red;
  }
}
@keyframes fill {
  0% {
    top: 0px;
    left: 0px;
  }
  50% {
    top: 10px;
    left: 10px;
  }
  100% {
    top: 20px;
    left: 20px;
  }
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}
body .service-title {
  color: #0b5be0;
  font-size: 18px;
}
body header {
  font-weight: 300;
}
body header #contact-header {
  position: relative;
  background-color: #0b5be0;
  z-index: 100;
  padding: 5px;
  height: 100px;
  color: white;
  vertical-align: middle;
}
body header #contact-header .navbar-toggler {
  margin-bottom: 5px;
}
body header #contact-header .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
body header #contact-header .row {
  padding: 10px 15px;
}
body header #contact-header ul {
  height: 100%;
  background-color: #0b5be0;
}
body header #contact-header ul li {
  min-width: 50px;
  padding: 10px;
  display: inline;
  list-style: none;
  border-radius: 5px;
}
body header #contact-header ul li i {
  color: white;
  font-size: 22px;
}
body header #contact-header ul li .social-icons:hover {
  color: #212529;
}
body #header {
  position: fixed;
  width: 100%;
  padding: 10px;
  z-index: 10;
  background-color: white;
  color: black;
}
body #header .logo {
  width: 100px;
  height: 100px;
}
body #header a {
  color: #212529;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  font-size: 24px;
}
body #header a:hover {
  color: #0b5be0;
}
body #header .container ul li {
  display: inline;
  list-style: none;
  padding-right: 10px;
}
body main {
  padding-top: 120px;
  background-color: #FFFFFF;
}
body main #homeCarousel {
  color: #212529 !important;
}
body main #homeCarousel .carousel-control-prev,
body main #homeCarousel .carousel-control-next {
  margin: auto 20px auto 20px;
  width: 50px;
  height: 50px;
  background-color: #0b5be0;
  border-radius: 5px;
}
body main #homeCarousel .carousel-indicators {
  margin: auto;
  width: 200px;
  background-color: #0b5be0;
  border-radius: 15px;
  margin-bottom: 15px !important;
}
body main #homeCarousel .carousel-inner .carousel-caption .carousel-image1 {
  padding-top: 250px;
  max-width: 1280px;
  height: 833px;
}
body main #homeCarousel .carousel-inner .carousel-caption .carousel-image2 {
  padding-top: 250px;
  max-width: 1280px;
  height: 833px;
}
body main #homeCarousel .carousel-inner .carousel-caption .carousel-image3 {
  padding-top: 250px;
  max-width: 1280px;
  height: 833px;
}
body main #homeCarousel .carousel-inner .carousel-caption .carousel-image4 {
  padding-top: 250px;
  max-width: 1280px;
  height: 833px;
}
body main #homeCarousel .carousel-inner .carousel-caption .carousel-image5 {
  padding-top: 250px;
  max-width: 1280px;
  height: 833px;
}
body main #homeCarousel .carousel-inner .carousel-caption .carousel-image6 {
  padding-top: 250px;
  max-width: 1280px;
  height: 833px;
}
body main #about {
  padding: 200px 5px 5px 5px;
}
body main #about .about-item-wrapper {
  position: relative;
  width: 250px;
  height: 250px;
  background-color: #0b5be0;
  margin-left: 50px;
  margin-top: 50px;
  padding: 10px;
}
body main #about .about-item-wrapper .about-item-container {
  position: absolute;
  border: 3px solid #0b5be0;
  top: 20px;
  left: 20px;
  width: 250px;
  height: 250px;
  padding: 10px;
  background: linear-gradient(to right, #ffffff, #e4dede);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
body main #about .about-item-wrapper .about-item-container:hover {
  animation: fill 0.5s linear both;
}
body main #services {
  padding: 200px 5px 5px 5px;
}
body main #portfolio {
  padding: 50px 5px;
}
body footer {
  padding: 10px;
  margin-top: 25px;
  color: white;
  background-color: #212529;
}
body footer ul {
  margin: 0px;
}
body footer ul li {
  list-style: none;
  display: inline;
  list-style: none;
}/*# sourceMappingURL=main.css.map */